<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Adicionar Guia</nb-card-header>
            <nb-card-body>
                <form [formGroup]="guideForm" (ngSubmit)="saveGuide()">
                  <div class="row">
                    <div class="col-sm-8 offset-sm-1">

                      <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="name" placeholder="Digite o nome"
                          formControlName="name" [ngClass]="aplicaCssErro(guideForm, 'name')">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="email" placeholder="Digite o email"
                          formControlName="email" [ngClass]="aplicaCssErro(guideForm, 'email')">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="phone" placeholder="Digite o telefone"
                          formControlName="phone" [ngClass]="aplicaCssErro(guideForm, 'phone')">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="qualification" class="col-sm-2 col-form-label">Qualificação</label>
                        <div class="col-sm-8">
                          <textarea rows="5" placeholder="Digite a qualificação" class="form-control" id="qualification"
                          formControlName="qualification"
                          [ngClass]="aplicaCssErro(guideForm, 'qualification')"></textarea>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-lg-12 offset-sm-2">
                          <button type="submit" class="btn btn-hero-success btn-sm">Salvar</button>
                          <button class="btn btn-hero-secondary btn-sm" (click)="resetarForm(guideForm)" >Cancelar</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
  </div>
